/* ----- Theme colors ----- */
:root {
    --primary_text_color: black;
    --secondary_text_color: white;
    --link_text_color: rgb(0,50,125);
    --primary_bg: white;
    --page_gradient: linear-gradient(
        rgb(255,255,255) 0%,
        rgb(245,245,250) 70%,
        rgb(235,235,240) 100%
    );
    --navbar_bg: rgb(0, 31, 26);
    --navbar_selected_bg: rgb(0,62,54);
    --footer_bg: rgb(0, 31, 26);
}

[color_theme="dark"] {
    --primary_text_color: white;
    --secondary_text_color: white;
    --link_text_color: rgb(180,220,255);
    --primary_bg: black;
    --page_gradient: linear-gradient(
        rgb(15,15,20) 0%,
        rgb(10,10,12) 70%,
        rgb(5,5,7) 100%
    );
    --navbar_bg: rgb(0, 31, 26);
    --navbar_selected_bg: rgb(0,62,54);
    --footer_bg: rgb(0, 31, 26);
}

/* ----- Overrides ----- */
body {
    font-family: sans-serif;
    font-size: 18px;
    background: var(--page_gradient);
    background-attachment: fixed;
    background-size: cover;
    color: var(--primary_text_color);
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 48px;
    margin: 16px 0;
}
@media screen and (max-width: 400px) {
    h1 {
        font-size: 72px;
    }
}

h2 {
    font-size: 36px;
    margin: 16px 0;
}

h3 {
    font-size: 28px;
    margin: 12px 0;
}

p {
    line-height: 1.25;
}

a {
    color: var(--link_text_color);
}

/* ----- Content ----- */
.content_container {
    width: 98%;
    max-width: 800px;
    padding: 0 16px;
    margin: 32px auto 32px auto;
}

/* ----- Mirror content cards ----- */
.mirror_header {
    width: 98%;
    max-width: 1000px;
    margin: 32px auto 16px auto;
}

.mirror_container {
    width: 98%;
    max-width: 1000px;
    padding: 0;
    display: grid;
    grid-template-columns: auto 300px;
    border-radius: 5px;
    margin: 32px auto 32px auto;
    background: var(--primary_bg);
    box-shadow: 2px 2px 6px rgba(0,0,0,0.5);
}

.mirror_text {
    padding: 16px;
}

.mirror_icon {
    width: 250px;
    height: auto;
    max-height: 300px;
    margin: 16px 16px 16px auto;
    border-radius: 5px;
    background: white;
}

/* ----- Navigation bar ----- */

.navbar_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background: var(--navbar_bg);
    color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    text-wrap: nowrap;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.5);
}

.navbar_link {
    padding: 16px 20px;
    margin: 0;
    box-sizing: border-box;
    display: inline-block;
    border: none;
    border-bottom: 2px solid rgba(255,255,255,0);
    transition-duration: 100ms;
    background: none;
    font: inherit;
    color: inherit;
    text-decoration: inherit;
}
.navbar_link:hover {
    background-color: var(--navbar_selected_bg);
    cursor: pointer;
}

.navbar_active {
    background: var(--navbar_selected_bg);
    border-bottom: 2px solid rgb(255,255,255);
}

.navbar_spacer {
    height: 50px;
}

.navbar_theme {
    right: 0;
    /*float: right;*/
}

/* ----- Footer ----- */
.footer_container {
    width: 100%;
    margin: 64px 0 0 0;
    padding: 64px 0;
    box-shadow: 0px -4px 8px rgba(0,0,0,0.5);
    background: var(--footer_bg);
    box-sizing: border-box;
}

.footer_content {
    width: 98%;
    max-width: 1000px;
    color: var(--secondary_text_color);
    text-align: center;
    margin: 0 auto;
}

.footer_link {
    color: inherit;
    font-weight: bold;
}

/* ----- Banner ----- */
.banner_container {
    width: 100%;
    margin: 0;
    padding: 120px 0;
    box-sizing: border-box;
    background-image: url(img/banner.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.5);
}

.banner_content {
    width: 98%;
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
    color: var(--secondary_text_color);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
