@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf) format("truetype");
}

:root {
  --dark-bg: rgb(20, 20, 20);
  --dark-text: white;
  --dark-body-link: rgb(68, 178, 68);
}

:root {
  --light-bg: white;
  --light-text: black;
  --light-body-link: rgb(40, 104, 40);
}

html {
  all: unset;

  font-family: "Roboto";
}

#__nuxt {
  padding: 0px 5%;
  max-width: 2500px;
  min-height: 100%;
  margin: auto;
}

body {
  all: unset;
  height: 100%;
}

.body {
  margin: 15px;
  display: flex;
  flex-direction: column;
}

.light-mode body {
  background-color: var(--light-bg);
  color: black;
}

.dark-mode body {
  background-color: var(--dark-bg);
  color: white;
}

.light-mode main a {
  color: var(--light-body-link);
  text-decoration: none;
}

.dark-mode main a {
  color: var(--dark-body-link);
  text-decoration: none;
}

main {
  align-self: center;
  max-width: 1100px;
}
